.description{
    padding: 0 13% 0 13%;

    & h1{
        line-height: 40px;
        margin-top: 1.95em;
        font-size: 36px;
        margin-bottom: -0.28em;
        font-weight: 600;
        letter-spacing: -0.022em;
        color: rgba(41, 41, 41, 1);
        font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    }

    & p{
        // font-size: 21px;
        margin-top: 2em;
        color: rgba(41, 41, 41, 1);
        // padding: 0 51px 0 10px;
        font-size: 21px;
        line-height: 32px;
        font-style: normal;
        font-weight: 400;
        font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

        &.title{
            
        }
    }

    & a{
        background-position: 0 1.05em;
        font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        color: inherit;
    }

    & .quote{
        padding-left: 40px;

        & p{
            margin-top: 2.75em;
            font-size: 30px;
            letter-spacing: -0.014em;
            line-height: 44px;
            margin-bottom: -0.46em;
            color: rgba(117, 117, 117, 1);
            font-weight: 400;
            font-style: normal;
            font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;

            & a{
                font-weight: 400;
                font-style: normal;
                font-size: 30px;
                letter-spacing: -0.014em;
                font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
            }
        }
    }
}

.iframe{
    margin: 56px auto 2em auto;
    text-align: center;
    clear: both;
}